### Importación de datos

In [19]:
import pandas as pd
url1=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_1.csv"
url2=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_2.csv"
url3=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_3.csv"
url4=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
700,Smartwatch,Electrónicos,161000.0,6800.0,27/11/2021,Ángel Rodriguez,Bogotá,1,Tarjeta de crédito,5,4.60971,-74.08175
1620,Cama box,Muebles,331600.0,15800.0,22/08/2022,Juan Fernandez,Bogotá,5,Tarjeta de crédito,10,4.60971,-74.08175
1573,Kit de bancas,Muebles,267500.0,14600.0,09/08/2020,Beatriz Morales,Bogotá,5,Nequi,1,4.60971,-74.08175
775,Tablet ABXY,Electrónicos,734000.0,43900.0,15/09/2021,Mariana Herrera,Cali,5,Tarjeta de crédito,1,3.43722,-76.52250
1809,Modelado predictivo,Libros,65600.0,1700.0,05/12/2021,Lucas Olivera,Bogotá,5,Tarjeta de crédito,8,4.60971,-74.08175

#1. Análisis de facturación

In [20]:
#Calculas los ingresos totales de cada tienda

for x in range(1,5):
    print("-----------------------------------------------------------------------------")
    ingresos = eval(f'tienda{x}["Precio"].sum()')
    print(f"Ingresos totales de la tienda {x}: ${eval(f'ingresos{x}')}")

-----------------------------------------------------------------------------
Ingresos totales de la tienda 1: $1150880400.0
-----------------------------------------------------------------------------
Ingresos totales de la tienda 2: $1116343500.0
-----------------------------------------------------------------------------
Ingresos totales de la tienda 3: $1098019600.0
-----------------------------------------------------------------------------
Ingresos totales de la tienda 4: $1038375700.0

# 2. Ventas por categoría

In [21]:
#Calcular cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.
print("-----------------------------------------------------------------------------")
categorias1 = tienda1.groupby("Categoría del Producto")['Producto'].count()
#print("Cantidad de productos vendidos por categoría en la tienda 1:")
#print(categorias1)

for x in range(1,5):
    categorias = eval(f'tienda{x}.groupby("Categoría del Producto")["Producto"].count()')
    print(f"El top 5 de ventas por categoría en la tienda {x} es: ")
    print(categorias.sort_values(ascending=False).head(5))
    print("-----------------------------------------------------------------------------")

-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 1 es:
Categoría del Producto
Muebles                 465
Electrónicos            448
Juguetes                324
Electrodomésticos       312
Deportes y diversión    284
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 2 es:
Categoría del Producto
Muebles                 442
Electrónicos            422
Juguetes                313
Electrodomésticos       305
Deportes y diversión    275
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 3 es:
Categoría del Producto
Muebles                 499
Electrónicos            451
Juguetes                315
Electrodomésticos       278
Deportes y diversión    277
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 4 es:
Categoría del Producto
Muebles                 480
Electrónicos            451
Juguetes                338
Deportes y diversión    277
Electrodomésticos       254
Name: Producto, dtype: int64
-----------------------------------------------------------------------------

# 3. Calificación promedio de la tienda

In [26]:
#calcular las calificaciones promedio de los clientes para cada tienda
for x in range(1,5):
    print("-----------------------------------------------------------------------------")
    calificacion_promedio = eval(f'tienda{x}["Calificación"].mean()')
    print(f"Calificación promedio de los clientes en la tienda {x}: {calificacion_promedio:.2f}")

-----------------------------------------------------------------------------
Calificación promedio de los clientes en la tienda 1: 3.98
-----------------------------------------------------------------------------
Calificación promedio de los clientes en la tienda 2: 4.04
-----------------------------------------------------------------------------
Calificación promedio de los clientes en la tienda 3: 4.05
-----------------------------------------------------------------------------
Calificación promedio de los clientes en la tienda 4: 4.00

# 4. Productos más y menos vendidos

In [23]:
#identificar qué productos fueron los 5 mas vendidos y los 5 menos vendidos en cada tienda

for i in range(1,5):
    print("-----------------------------------------------------------------------------")
    top5_mas_vendidos = eval(f'tienda{i}["Producto"].value_counts().head(5)')
    print(F"Los 5 productos más vendidos en la tienda {i} son: {top5_mas_vendidos.index.tolist()}")
    top5_menos_vendidos = eval(f'tienda{i}["Producto"].value_counts().tail(5)')
    print(F"Los 5 productos menos vendidos en la tienda {i} son: {top5_menos_vendidos.index.tolist()}")

-----------------------------------------------------------------------------
Los 5 productos más vendidos en la tienda 1 son: ['Microondas', 'TV LED UHD 4K', 'Armario', 'Secadora de ropa', 'Mesa de noche']
Los 5 productos menos vendidos en la tienda 1 son: ['Ciencia de datos con Python', 'Pandereta', 'Olla de presión', 'Auriculares con micrófono', 'Celular ABXY']
-----------------------------------------------------------------------------
Los 5 productos más vendidos en la tienda 2 son: ['Iniciando en programación', 'Microondas', 'Batería', 'Guitarra acústica', 'Pandereta']
Los 5 productos menos vendidos en la tienda 2 son: ['Auriculares', 'Sillón', 'Mesa de comedor', 'Impresora', 'Juego de mesa']
-----------------------------------------------------------------------------
Los 5 productos más vendidos en la tienda 3 son: ['Kit de bancas', 'Mesa de comedor', 'Cama king', 'Set de ollas', 'Mesa de noche']
Los 5 productos menos vendidos en la tienda 3 son: ['Guitarra eléctrica', 'Set de vasos', 'Mochila', 'Microondas', 'Bloques de construcción']
-----------------------------------------------------------------------------
Los 5 productos más vendidos en la tienda 4 son: ['Cama box', 'Cubertería', 'Dashboards con Power BI', 'Cama king', 'Carrito de control remoto']
Los 5 productos menos vendidos en la tienda 4 son: ['Refrigerador', 'Ciencia de datos con Python', 'Guitarra acústica', 'Armario', 'Guitarra eléctrica']

# 5. Envío promedio por tienda

In [24]:
# calcular el costo de envío promedio para cada tienda
costo_envio_promedio1 = tienda1["Costo de envío"].mean()
print(f"Costo de envío promedio en la tienda 1: ${costo_envio_promedio1:.2f}")
costo_envio_promedio2 = tienda2["Costo de envío"].mean()
print(f"Costo de envío promedio en la tienda 2: ${costo_envio_promedio2:.2f}")
costo_envio_promedio3 = tienda3["Costo de envío"].mean()
print(f"Costo de envío promedio en la tienda 3: ${costo_envio_promedio3:.2f}")
costo_envio_promedio4 = tienda4["Costo de envío"].mean()        
print(f"Costo de envío promedio en la tienda 4: ${costo_envio_promedio4:.2f}")

Costo de envío promedio en la tienda 1: $26018.61
Costo de envío promedio en la tienda 2: $25216.24
Costo de envío promedio en la tienda 3: $24805.68
Costo de envío promedio en la tienda 4: $23459.46