### Importación de datos

In [20]:
import pandas as pd
url1=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_1.csv"
url2=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_2.csv"
url3=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_3.csv"
url4=r"C:\Users\rzepeda\Dropbox\Documentos\Estudios\OracleOneAlura\Python\Challenge1\tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.sample(5)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
727,Microondas,Electrodomésticos,782300.0,39800.0,03/11/2021,Mariana Herrera,Medellín,5,Tarjeta de crédito,3,6.25184,-75.56359
1212,Impresora,Electrónicos,300800.0,14200.0,12/08/2021,Santiago Silva,Bogotá,5,Tarjeta de crédito,4,4.60971,-74.08175
2311,Balón de voleibol,Deportes y diversión,53700.0,1000.0,24/01/2020,Rafael Acosta,Bogotá,5,Tarjeta de crédito,4,4.60971,-74.08175
1977,TV LED UHD 4K,Electrónicos,2275300.0,119300.0,22/06/2022,Ángel Rodriguez,Cali,4,Tarjeta de crédito,1,3.43722,-76.52250
1250,Iphone 15,Electrónicos,2312500.0,127900.0,10/03/2021,Santiago Silva,Bogotá,5,Tarjeta de crédito,10,4.60971,-74.08175

#1. Análisis de facturación

In [21]:
ingresos1 = tienda1["Precio"].sum()
print(f"Ingresos totales de la tienda 1: ${ingresos1}")

ingresos2 = tienda2["Precio"].sum()
print(f"Ingresos totales de la tienda 2: ${ingresos2}")

ingresos3 = tienda3["Precio"].sum()
print(f"Ingresos totales de la tienda 3: ${ingresos3}") 

ingresos4 = tienda4["Precio"].sum()
print(f"Ingresos totales de la tienda 4: ${ingresos4}")

Ingresos totales de la tienda 1: $1150880400.0
Ingresos totales de la tienda 2: $1116343500.0
Ingresos totales de la tienda 3: $1098019600.0
Ingresos totales de la tienda 4: $1038375700.0

# 2. Ventas por categoría

In [35]:
#Calcular cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.
print("-----------------------------------------------------------------------------")
categorias1 = tienda1.groupby("Categoría del Producto")['Producto'].count()
#print("Cantidad de productos vendidos por categoría en la tienda 1:")
#print(categorias1)
print("-----------------------------------------------------------------------------")
print("El top 5 de ventas por categoría en la tienda 1 es: ")
print(categorias1.sort_values(ascending=False).head(5)) 
print("-----------------------------------------------------------------------------")
categorias2 = tienda2.groupby("Categoría del Producto")['Producto'].count()
print("El top 5 de ventas por categoría en la tienda 2 es: ")
print(categorias2.sort_values(ascending=False).head(5))
print("-----------------------------------------------------------------------------")
categorias3 = tienda3.groupby("Categoría del Producto")['Producto'].count()
print("El top 5 de ventas por categoría en la tienda 3 es: ")
print(categorias3.sort_values(ascending=False).head(5))
print("-----------------------------------------------------------------------------")
categorias4 = tienda4.groupby("Categoría del Producto")['Producto'].count()
print("El top 5 de ventas por categoría en la tienda 4 es: ")
print(categorias4.sort_values(ascending=False).head(5))

-----------------------------------------------------------------------------
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 1 es:
Categoría del Producto
Muebles                 465
Electrónicos            448
Juguetes                324
Electrodomésticos       312
Deportes y diversión    284
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 2 es:
Categoría del Producto
Muebles                 442
Electrónicos            422
Juguetes                313
Electrodomésticos       305
Deportes y diversión    275
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 3 es:
Categoría del Producto
Muebles                 499
Electrónicos            451
Juguetes                315
Electrodomésticos       278
Deportes y diversión    277
Name: Producto, dtype: int64
-----------------------------------------------------------------------------
El top 5 de ventas por categoría en la tienda 4 es:
Categoría del Producto
Muebles                 480
Electrónicos            451
Juguetes                338
Deportes y diversión    277
Electrodomésticos       254
Name: Producto, dtype: int64

# 3. Calificación promedio de la tienda

In [38]:
#calcular las calificaciones promedio de los clientes para cada tienda
print("-----------------------------------------------------------------------------")
calificacion_promedio1 = tienda1["Calificación"].mean()
print(f"Calificación promedio de los clientes en la tienda 1: {calificacion_promedio1:.2f}")
calificacion_promedio2 = tienda2["Calificación"].mean()
print(f"Calificación promedio de los clientes en la tienda 2: {calificacion_promedio2:.2f}")
calificacion_promedio3 = tienda3["Calificación"].mean()
print(f"Calificación promedio de los clientes en la tienda 3: {calificacion_promedio3:.2f}")
calificacion_promedio4 = tienda4["Calificación"].mean()
print(f"Calificación promedio de los clientes en la tienda 4: {calificacion_promedio4:.2f}")

-----------------------------------------------------------------------------
Calificación promedio de los clientes en la tienda 1: 3.98
Calificación promedio de los clientes en la tienda 2: 4.04
Calificación promedio de los clientes en la tienda 3: 4.05
Calificación promedio de los clientes en la tienda 4: 4.00

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda